MYSQL_ROOT_PASSWORD=change-me-root
MYSQL_DATABASE=archivage_doc
MYSQL_USER=archivage_user
MYSQL_PASSWORD=change-me-db

GITHUB_OAUTH_SECRET=change-me-github-oauth-secret
JWT_SECRET=change-me-jwt-secret-32chars-minimum

APP_BIND_ADDRESS=127.0.0.1
APP_PORT=8090
MYSQL_BIND_ADDRESS=127.0.0.1
MYSQL_PORT=3306
